<html>

<head>
  <title>{{t}}</title>
  <!-- href="/static/assets/style.css"-->
</head>

<body>
  <h1>{{ h }}</h1>
  <ul>
  </ul>
  <hr>
  {% if products[0] %}
  <div span="right">
  </div>
  <b><big>LIST :</big></b>
  <table>
    <tr class="datas">
      <td class="name"><b>Name</b></td>
      <td class="desc"><b>Price</b></td>
      <td class="date"><b>Capacity</b></td>
      <td class="pr"><b>Interface</b></td>
      <td class="pr"><b>Color</b></td>
      <td class="pr"><b>Size</b></td>
      <td class="pr"><b>Weight</b></td>
    </tr>
    {% for product in products %}
    <tr class="datas">
      <td class="name">{{ product["name"] }}</td>
      <td class="desc">{{ product["price"] }}</td>
      <td class="date">{{ product["capacity"] }}</td>
      <td class="pr">{{ product["interface"] }}</td>
      <td class="pr">{{ product["color"] }}</td>
      <td class="pr">{{ product["size"] }}</td>
      <td class="pr">{{ product["weight"] }}</td>
    </tr>
    {% endfor %}
  </table>
  {% else %}
  <h4>No List !!</h4>
  {% endif %}
  <hr />
  </table>
  <script>

  </script>
</body>

</html>
